<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<p>Joined on: <%= @user.created_at.strftime("%B %d, %Y") %></p>

<%= link_to 'Edit', edit_user_path(current_user), class: "btn btn-primary"%>