<h1>Welcome to the Home Page 1</h1>
<p><%= @message %></p>
&copy; <%= Time.now.year %> Your Company Name. All rights reserved.

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>